@model ImageServiceWeb.Models.PhotosModel.PhotosModel
@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>
<!-- Modal -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete Item</h4>
            </div>
            <div id="deleteModalBody" class="modal-body"></div>
        </div>
    </div>
</div>

@foreach (var item in Model.Photos)
{
    <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail" style="background-color:#222222;overflow:hidden;width:2500px;height:350px;">
            <img src=@Url.Content(item.RelativePath) class="img-circle" alt=@item.Name style="width:200px;height:200px;overflow:hidden;">
            <div class="caption">
                <h3 style="color:white">@item.Name</h3>
                <p style="color:white">@item.Date</p>
                <p>
                    <button id="@item.Name" class="btn btn-primary" onclick="setId()" >View</button>
                    <a href="#" class="btn btn-danger" role="button">Delete</a>
                    
                  
                    <script>
                       var  idName=""
                        function setId(){
                            idName = "<%=item.Name>";
                            $.ajax({
                                url: "../Controllers/HomeController/PhotosView",
                                type: "POST",
                                data: JSON.stringify({
                                    "id": idName
                                }),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json"

                            });
                        }
                        
                    </script>
                    <script>
                            $("#deleteModal").modal("hide");//hides pop up till needed
                            $(".btn btn-danger").on("click", function () {
                                $.get('@Url.Action("GetDeletePartial")', { id: $(this).prop("id") }, function (data) {
                                    $("#deleteModalBody").html(data);
                                    $("#deleteModal").modal("show");
                                });
                            });
                    </script>
                </p>
            </div>
        </div>
    </div>
}
